h1{
    font-weight: bold !important;
    font-size:2em !important;
}

.switchCont{
    align-items: center;
    justify-content: space-between;
}

.switchCont .searchTitle{
    text-align: left;
}

.switchCont .switch{
    text-align: right;
}

.paginatorCont{
    justify-content: flex-end;
}

.paginatorCont .paginatorButonsCont, .paginatorCont .totalPagesCont{
    text-align: right;
    padding: 1.5em 0 1.5em 0;
    min-width: 165px;
}

.paginator{
    align-self:center;
    justify-content: flex-end;
}

.totalPagesCont{
    align-self:center;
}
  
.switchCont .switch{
    float:right;
    padding-left: 60px;
}
  
.albumsCont .item:nth-child(even) {
    background-color: rgb(242, 243, 244);
    padding: 1em;
}
  
.albumsCont .item:nth-child(odd) {
    background-color: rgb(249, 251, 252);
    padding: 1em;
}

.loading{
    margin: 0 auto;
    margin-top:60px;
  }

.grid-group-wrapper.row {
    display: flex;
    flex-wrap: wrap;
    }
  
  .grid-group-wrapper.row:after,
  .grid-group-wrapper.row:before {
    display: flex;
  }
  
  .grid-group-wrapper.row > [class*="col-"] {
    display: flex;
    flex-direction: column;
  }
  .grid-group-wrapper.row .thumbnail,
  .grid-group-wrapper.row .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }
  .grid-group-wrapper.row .caption-text {
    flex-grow: 1;
  }
  .grid-group-wrapper.row img {
    width: 100%;
    height: auto;
  }
  
  .grid-group-wrapper.row .price-buy-spacing {
    display: flex;
    justify-content: space-between;
  }
  .grid-group-wrapper.row .price-buy-spacing .lead {
    margin-bottom: 0px;
  }
  .grid-group-wrapper.row .price-buy-spacing {
    margin-bottom: 10px;
  }
  
.list-group-wrapper .item {
    float: none;
    width: 100%;
    }
  .list-group-wrapper .item:before,
  .list-group-wrapper .item:after {
    display: table;
    content: " ";
  }
  .list-group-wrapper .item:after {
    clear: both;
  }
  .list-group-wrapper .item .thumbnail img {
    margin-right: 10px;
    float: left;
  }
  .list-group-wrapper .item .caption,
  .list-group-wrapper .item .thumbnail {
    display: flex;
  }
  .list-group-wrapper .item .caption {
    flex-direction: column;
    text-align: left;
    align-self: center;
  }
  .list-group-wrapper .item .caption-text {
    flex-grow: 1;
  }
  
  .list-group-wrapper.row > [class*="col-"] {
    flex-basis: 100%;
    max-width: 100%;
  }